<h1>Add a Chef!</h1>

<form action="PushChef" method="POST">
    <label for="FName">First Name</label>
    <input type="text" name="FName">
    <label for="LName">Last Name</label>
    <input type="text" name="LName">
    <label for="DofB">Date of Birth</label>
    <input type="DateTime-Local" name="DofB">
    <input class="btn btn-primary" type="submit">
</form>

<a href="/">Home</a>